<app-header></app-header>
<div   [ngStyle]="{          
    background: 'url(' + bgurl + ') no-repeat center center fixed',
    'background-size': 'cover' 
}">
    
<!-- Header -->
<header id="header">
    <div class="logo"><span>Search</span></div>
</header>

<!-- Main -->
<section id="main">
    <div class="inner">

    <!-- One -->
        <section id="one" class="wrap style1">
            <header class="special">                
                    <input type="tel" required (keyup.enter)="searchVal(searchInput);" matInput placeholder="Search" style="width: 90%;font-size: medium;" [(ngModel)]="searchInput">
                    &nbsp;&nbsp;<a (click)="searchVal(searchInput);" role="button" title="Click to search" style="text-decoration: none;" >
                    <i class="fa fa-search"></i></a>                       
            </header>
            <div class="content">
                <div *ngIf="search==='false'">
                    <p>
                    Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel. Vestibulum et efficitur urna. Duis velit nulla, interdum sed felis sit amet, facilisis auctor nunc. Cras luctus urna at risus feugiat scelerisque nec sed diam. 
                    </p>    
                </div>
                <div *ngIf="search==='true'">
                    <div *ngIf="passages?.length>0">
                    <div *ngFor="let passage of passages" >
                        <div *ngFor="let chapter of passage.content" [align] = align>
                        <a (click)="chapterClick(passage.book,chapter.chapter);" role="button" title="Click to read full chapter" style="text-decoration: none;font-size: 14px;" >
                            <span [dir] = dir style="font-weight: bold;">{{passage.name}} {{chapter.chapter}}</span> 
                            <span *ngIf="!isEng()" dir="ltr" style="font-weight: bold;"> &nbsp;({{passage.english}} {{chapter.chapter}})&nbsp;</span>
                            
                                <i class="fa fa-list"></i>
                            </a>
                        <p *ngFor="let verse of chapter.verses" [dir]=dir [align] = align style="font-size: 16px;margin-bottom: 0px;">
                            <span style="font-size: 14px;font-weight: bold;">{{verse.verse}}.</span> {{verse.text}}
                        </p>
                        </div>
                    </div>
                    </div>
                    <div *ngIf="passages.length==0">
                        <div class="card">
                            <div class="card-body">
                                <p style="font-size: 16px;font-weight: bold;">No data found</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </section>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        Copyleft <span class="copy-left">&copy;</span> {{anio}} The Word
        <BR>Freely Received, Freely Given.
    </div>
</footer>
</div>


 